    main {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 100px; /* Add margin-top to avoid content being hidden under the fixed header */
        }
        
        section {
            margin-bottom: 30px;
        }
        
        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        footer {
            position:absolute;
            bottom:0px;
            left:0px
            text-align: center;
            padding: 20px;
            background-color: #74ebd5;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 10px 10px 0 0;
        }
        @keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #74ebd5;
  padding: 0px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  
  h1 {       font-size:50px
            margin-left:10px
            color: #ffffff;
        }
        
        navin ul {
            list-style: none;
            display: flex;
        }
        
        navin li {
            margin-right: 20px;
        }
        
        navin a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px 10px 10px 10px;
            transition: background-color 0.3s ease-in-out;
        }
        
        navin a:hover {
            background-color: #6aa4ff;
        }
        

 #navbar.visible {
  top: 0;
}

