<style>
 div{position:fixed;width:100px;height:100px;
  background-image:url("527bc1e412a2eb380a5af84789eb1cd.png");
   background-size:100%;
 }
 </style>
 <style>
 div{position:fixed;width:100px;height:100px;
  background-image:url("5866e5bf2bf6bffa53130420aa1455a.jpg");
   background-size:100%;
 }
 </style>	
